*{
    box-sizing: border-box;
}

:root {
    --main-background: #fff;
    --element-background: var(--bs-blue);
    --element-text-color: #fff;
    --main-text-color: black;
  }


body{
    font-size: calc(20px+0.1vw);
    font-family: 'Roboto', sans-serif !important;
    background: var(--main-background) !important;
    color: var(--main-text-color) !important;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1399px;
}

.img-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
}


i{
    color: var(--element-background);
}
.element{
    background-color: var(--element-background) !important;
    color: var(--element-text-color) !important;
}