@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html.dark {
  --color-background: 3 7 18;
  --color-card: 54 54 54;
  --color-text: 240 240 240;
  --color-primary: 179 255 0;
  --color-tag-: 3 3 3;
  --color-tag-text: 250 250 250;
}

@layer utilities {
  .bg-body {
    background-color: rgb(var(--color-background));
  }
  .bg-card {
    background-color: rgb(var(--color-card));
  }
  .text-normal-white {
    color: rgb(var(--color-text));
  }
  .color-primary {
    color: rgb(var(--color-primary));
  }
  .bg-tag {
    background-color: rgb(var(--color-tag));
  }
  .text-tag {
    color: rgb(var(--color-tag-text));
  }
}
